@-moz-document url-prefix("http://www.progarchives.com/forum") {

   /* Page body */
   body{
      background-color: #002b36;
      margin-left: 0px;
      margin-top: 5px;
      margin-right: 0px;
      margin-bottom: 5px;
   }

   /* Text for most CSS classes */
   body, .text, .smText, .error, a, a.smLink, a.msgLink, a.tLink, .WebWizRTEtextarea, .basicTable, .errorTable, .tableRow, .tableTopRow, .tableBottomRow, .evenTableRow, .oddTableRow, .hiddenTableRow, .PMtableRow, .PMmsgBody, .msgBody, .msgEvenTableRow, .msgOddTableRow, .msgAnswerTableRow, .msgHiddenTableRow, .msgOddTableSide, .msgEvenTableSide, .msgSignature, .calDateCell, .calTodayCell, .BBquote, .BBcode, .ChatTableRow, .ChatRoomBox, .ChatMembersBox {
      font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
      color : #839496;
      font-weight: normal;
      font-size: 13px;
      line-height: 1.4;
   }
   .lgText, h1, .largeButton, .msgSideProfile, .tableLedger, .tableSubLedger, .tableSearchLedger, .calLedger{
      font-family: Tahoma, Arial, Helvetica, sans-serif;
      color: #839496;
      font-weight: bold;
   }

   /* Text */
   .smText{
      font-size: 10px;
      line-height: 12px; 
   }

   .lgText{
      font-size: 15px;
   }

   h1{
      font-size: 19px;
      margin-bottom: 0;
      margin-top: 0;
   }

   .error{
      color : #FF0000;
   }

   /* Search highlight */
   .highlight{
      background-color: #ffff66
   }

   /* Hyperlinks */
   a:link {
      color : #eee8d5;
      text-decoration: none;
   }

   a:visited{
      color : #b58900;
      text-decoration : none;
   }

   a:hover, a:visited:hover{
      color : #cb4b16;
      text-decoration : underline;
   }

   a.smLink {
      font-size: 10px;
   }


   /* Page Links */
   .pageLink, a.pageLink:link, a.pageLink:visited, a.smPageLink:link, a.smPageLink:visited{
      color : #839496;
      text-decoration: none;
      background: #073642;
      border: 1px solid #586e75;
      padding: 2px;
      margin: 2px;	
   }

   a.smPageLink:link, a.smPageLink:visited{
      line-height: 30px;
      padding: 1px;
      margin: 1px;	
   }

   a.pageLink:hover, a.smPageLink:hover{
      color: #002b36;
      text-decoration: underline;
      border: 1px solid #002b36;
      background: #93a1a1;
   }

   .pageLink{
      background: #586e75;
      border: 1px solid #073642;
   }



   /* Misc */
   ul{
      list-style-type: circle;
   }

   form{
      display: inline;
   }

   a img,:link img,:visited img{
      border: none;
      vertical-align: middle; 
   }

   .imgBorder {
      border: #E7E7E7 1px solid;
   }

   .avatar, #avatar{
      width: 120px;
      border: 1px solid #586e75;
      margin: 2px;
   }

   hr {
      width: 100%;
      background-color: #586e75;
      height: 1px;
      border: 0px;
   }

   /* PNG Support for IE5.5 & 6 */
   img {
      behavior: url('includes/pngbehavior.htc');
   }

   #logo {
      height: 0 !important;
      width: 0 !important;
      /* these numbers match the new image's dimensions */
      padding-left: 397px !important;
      padding-top: 90px !important;
      background: url(http://www.progarchives.com/forum/uploads/5156/PAlogo_solarized.png) no-repeat !important;
   }

   /* Rich Text Editor */
   .RTEtoolbar{
      background-image: url('../../forum_images/toolbar_background.gif');
      background-color: #fdf6e3;

   }

   .WebWizRTEbutton, .RTEtoolbar{
      padding: 1px;

   }

   .WebWizRTEbuttonOver{
      background-image: url('../../forum_images/toolbar_button_background.gif');
      padding: 1px;
   }

   .RTEtableTopRow{
      line-height: 22px;
      background-color: #D3DAED;
      background-image: url('../../forum_images/topbar_background.gif');
   }

   .RTEtableRow{
      background-color: #F4F4FB;
   }

   .RTEtableBottomRow{
      background-color: #D3DAED;
      background-image: url('../../forum_images/bottombar_background.gif');
   }

   .WebWizRTEtextarea{
      background-color: #002b36;
      color: #839496;
      margin: 2px;
      background-image:none;
   }

   .RTEmouseOver{
      background-color: #002b36;
      color: #000000;
      cursor: pointer;
   }


   /* Tables */
   .basicTable{
      text-align: left;
      border: 0px;
      width: 98%;
   }

   .errorTable{
      text-align: left;
      border: 1px solid #FD7D40;
      background-color: #FFF2E6;
      width: 98%;
      color: #FF0000;
   }

   .tableBorder{
      text-align: left;
      border: 1px solid #B6B9CB;
      background-color: #002b36;
      width: 98%;
   }

   /* Table Ledger */
   .tableLedger{
      font-weight: bold;
      color: #002b36;
      background-color: #586e75;
      height: 26px;
   }

   .tableLedger a:link, .tableLedger a:visited{
      font-family: Tahoma, Arial, Helvetica, sans-serif;
      color : #002b36;
      text-decoration: underline;
      font-weight: bold;
   }

   .tableLedger a:hover, .tableLedger a:visited:hover{
      color : #CCCCCC;
      text-decoration: underline;
      font-weight: bold;
   }

   /* Search Sub-Ledger */
   .tableSubLedger{
      font-weight: bold;
      color: #839496;
      background-color: #002b36;
      height: 19px;
   }

   .tableSubLedger a:link, .tableSubLedger a:visited{
      font-family: Tahoma, Arial, Helvetica, sans-serif;
      color : #fdf6e3;
      text-decoration: underline;
      font-weight: bold;
   }

   .tableSubLedger a:hover, .tableSubLedger a:visited:hover{
      color : #586e75;
      text-decoration : underline;
      font-weight: bold;
   }

   /* Search Ledger / Blog Ledger */
   .tableSearchLedger{
      font-weight: bold;
      background-color: #002b36;
   }

   .tableSearchLedger a:link, .tableSearchLedger a:visited{
      font-family: Tahoma, Arial, Helvetica, sans-serif;
      color : #fdf6e3;
      text-decoration: none;
   }

   .tableSearchLedger a:hover, .tableSearchLedger a:visited:hover{
      color : #666666;
      text-decoration : underline;
   }


   /* Table Status Bar */
   .tableStatusBar{
      font-weight: normal;
      color: #839496;
      font-size: 11px;
      background-color: #073642;
   }

   .tableStatusBar a:link, .tableStatusBar a:visited{
      color : #eee8d5;
      font-size: 11px;
      text-decoration: none;
   }

   .tableStatusBar a:hover, .tableStatusBar a:visited:hover{
      color : #eee8d5;
      font-size: 11px;
      text-decoration : underline;
   }


   /* Tables */
   .tableRow{
      background-color: #073642;
   }

   .tableTopRow{
      background-color: #002b36;

   }

   .tableBottomRow{
      background-color: #002b36;

   }



   /* Alternating Row Colours */
   .evenTableRow{
      background-color: #073642;

   }

   .oddTableRow{
      background-color: #073642;
   }

   .hiddenTableRow{
      background-color: #586e75;
   }

   /* Private messager */
   .PMtableRow{
      background-color: #073642;
   }

   .PMmsgBody{
      width: 99%;
      max-height: 450px;
      float: left; 
      overflow: auto;
   }

   a.PMsmLink:link, a.PMsmLink:visited, a.fileManLink:link, a.fileManLink:visited{
      color : #fdf6e3;
      font-size: 11px;
      text-decoration: none;
      font-weight: normal;
   }

   a.PMsmLink:hover, a.PMsmLink:visited:hover, a.fileManLink:hover, a.fileManLink:visited:hover{
      color : #fdf6e3;
      font-size: 11px;
      text-decoration: underline;
      font-weight: normal;
   }

   /* Forum posts and Blogs */
   .msgBody{
      width: 100%;
      margin: 2px;
      float: left; 
      overflow: auto;
   }

   .msgBody img, .PMmsgBody img {
      max-width: 750px;
      height: auto;
   }

   .msgEvenTableTop, .msgEvenTableSide, .blogEntryTableTop{
      background-color: #073642;
      font-size: 11px;
   }

   .msgOddTableTop, .msgOddTableSide{
      background-color: #073642;
      font-size: 11px;
   }

   .msgEvenTableRow, .blogEntryTableRow{
      background-color: #073642;
   }

   .msgOddTableRow{
      background-color: #073642;
   }

   .msgAnswerTableTop{
      font-size: 11px;
      background-color: #E7EEEF;
   }

   .msgEvenTableTop a:link, .msgEvenTableTop a:visited, .msgOddTableTop a:link, .msgOddTableTop a:visited, .postThanks, .postOptions, .msgAnswerTableTop a:link, .msgAnswerTableTop a:visited{
      color : #fdf6e3;
      text-decoration: none;
      font-size: 11px;
      cursor: pointer;
   }

   .msgEvenTableTop a:hover, .msgEvenTableTop a:visited:hover, .msgOddTableTop a:hover, .msgOddTableTop a:visited:hover, .msgAnswerTableTop a:hover, .msgAnswerTableTop a:visited:hover{
      color : #fdf6e3;
      text-decoration: underline;
      font-size: 11px;
   }

   .msgSideProfile{
      font-size: 15px;
      cursor: pointer;
   }

   .msgHiddenTableRow{
      font-size: 10px;
      background-image: url(../../forum_images/pre_approved_post.gif);
   }

   .msgLineDevider{
      border: solid #586e75 0px;
      border-top-width: 1px;
   }

   .msgSignature{
      /*max-height: 160px;*/
      width: 100%;
      float: left; 
      /*overflow: auto;*/
   }
   .msgSignature img {max-height:175px;}

   .postSeparatorTableRow{
      height: 10px;
      background-color: #586e75;

   }

   /* Calendar */
   .calLedger{
      font-weight: bold;
      background-color: #002b36;
      padding:4px;
   }
   .calLedger a:link, .calLedger a:visited{
      color : #fdf6e3;
      text-decoration: none;
      font-size: 10px;
   }

   .calLedger a:hover, .calLedger a:visited:hover{
      color : #666666;
      text-decoration: none;
      font-size: 10px;
   }

   .calDateCell{
      background-color: #F8F8FC;
   }

   .calTodayCell{
      background-color: #F8F8FC;
      border:1px solid #dc322f;
   }

   .calEmptyDateCell{
      background-color: #002b36;
   }

   /* BBcode blocks */
   .BBquote{
      border: 1px dotted #999999;
      background-color: #002b36;
      width: 99.5%;
      padding: 5px;
      margin: 8px 0px;
      text-align: left;
      overflow: auto;
      display: block;
      padding: 5px;
   }

   .BBcode{
      font-family: Courier New, Courier, mono;
      border: 1px dashed #999999;
      width: 99.5%;
      padding: 5px;
      margin: 8px 0px;
      text-align: left;
      overflow: auto;
      display: block;
      padding: 5px;
   }


   /* Tabs and Buttons */
   .largeButton, a.largeButton:link, a.largeButton:visited{
      float: left;
      color : #cb4b16;
      text-decoration: none;
      font-size: 13px;
      background-color: #073642;
      background-image: url('../../forum_images/large_grey_button.png');
      background-position: 0px 0px;
      background-repeat: no-repeat;
      height: 17px;
      width: 96px;
      padding: 5px 0px;
      margin: 2px;
      cursor: pointer;
      font-weight: bold;
   }


   .largeButton:hover, a.largeButton:hover, a.largeButton:visited:hover{
      background-position: 0px -28px;
      color : #dc322f;
      font-weight: bold;
   }

   .tabTable{
      border: solid #B6B9CB 0px;
      border-bottom-width: 1px;
   }


   a.tabButton:link, a.tabButton:visited, a.tabButtonActive:link, a.tabButtonActive:visited{
      float: left;
      color : #cb4b16;
      text-decoration: none;
      font-size: 13px;
      background-image: url('../../forum_images/large_grey_tab.png');
      background-color: #073642;
      background-position: 0px 0px;
      background-repeat: no-repeat;
      height: 17px;
      width: 130px;
      padding: 5px 0px;
      margin: 0px 1px;

   }

   a.tabButtonActive:link, a.tabButtonActive:visited{
      background-position: 0px -61px;
      color : #dc322f;
   }

   a.tabButton:hover, a.tabButton:visited:hover, a.tabButtonActive:hover, a.tabButtonActive:visited:hover{
      background-position: 0px -30px;
      color : #dc322f;
   }

   .topicIcon, .forumIcon{
      background-position: center;
      background-repeat: no-repeat;
      height: 35px;
      width: 35px;
   }



   /* Drop Down Menus */
   .dropDownMenu, .dropDownStatusBar, .dropDownSearch, .dropDownTopicRating, .dropDownCalendar, .dropDownTopicSearch, .dropDownPermissions, .dropDownTopicShare{
      visibility: hidden; 
      position: absolute; 
      left: 0px; 
      top: 0px;
      z-index:10;
   }

   .dropDownMenu, .dropDownStatusBar, .dropDownPermissions, .dropDownTopicShare{
      background-color: #586e75;
      border: solid #E1E3EC;
      border-width: 1px;
      height: auto;
      line-height: 18px;
      padding: 1px;
   }

   .downDropParent, .dropDownPermissions, .dropDownTopicShare, .dropDownMenu a:link, .dropDownMenu a:visited, .dropDownStatusBar a{
      font-family: Verdana, Arial, Helvetica, sans-serif;
      color: #000000;
      font-size: 11px;
      font-weight: normal;
      text-decoration: none;
   }

   .downDropParent{
      color: #002b36;
   }

   .dropDownMenu a:hover, .dropDownMenu a:visited:hover, .dropDownStatusBar a:hover {
      color : #002b36;
      display: block;
      background: #7F7F99;
      width: 100%;
      font-weight: normal;
      text-decoration: none;
   }

   .dropDownSearch, .dropDownTopicSearch, .dropDownTopicRating{
      background-color: #586e75;
      border: solid #E1E3EC;
      border-width: 1px;
      padding: 0px;
   }

   .dropDownTopicRating{
      height: 110px;
   }

   .dropDownSearch{
      height: 100px;
   }

   .dropDownTopicSearch{
      height: 80px;
   }

   .dropDownPermissions, .dropDownTopicShare{
      color: #333333;
      line-height: 14px;
      text-align: left;
   }

   .dropDownPointer, .postThanks, .postOptions{
      cursor: pointer;
   }

   select, input{
      background-color: #073642;
      border-color: #002b36;
      color: #839496;
   }



   /* Chat Room */
   .ChatTableRow{
      background-color: #FBFBFD;
   }

   .ChatRoomBox, .ChatMembersBox{
      width: 99%;
      height: 325px;
      float: left; 
      overflow: auto;
   }

   .chatAlert {
      color: #FF0000;
      font-weight: bold;
   }

   .chatMessage{
      color: #4E6F2C;
      font-weight: bold;
   }

   .chatMember{
      color: #8A3630;
      font-weight: bold;
   }

   .chatListMember{
      color: #333333;
      font-weight: bold;

   }
} 

/* File Browser */

@-moz-document url-prefix("http://www.progarchives.com/forum/file_browser.asp") {
   tr {
      background-color: #002b36 !important;
      color: #839496 !important;
   }

   tr:hover{
      background-color: #073642 !important;
      color: #839496 !important;
   }

   .fileText{
      color: #839496 !important;
   }

   .fileText:hover{
      color: #839496 !important;
   }    

}
